<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 bg-dark pt-3">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="inmsgimg">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 text-white">
                        {{demo_name}}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 bg-dark pt-3">
                <div class="row">
                    <div class="col-lg-1 col-md-1">
                        <div class="inmsgimg">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-11 col-md-11 text-white">
                        {{demo_message}} <small>12.00 AM</small>
                    </div>
                    <div class="col-lg-11 col-md-11 text-end text-white">
                        <small>12.00 AM</small> {{demo_message}} 
                    </div>
                    <div class="col-lg-1 col-md-1">
                        <div class="inmsgimg">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>