<section>
    <div class="container">
        <div class="row justify-text-around">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="profilepic text-center">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile_pic">
                </div>
                <div class="profilename">
                    <p class="text-center fw-bold fs-5 mt-3">{{profile_name}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <a routerLink="/friends">Friends</a>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <a routerLink="/friends">Message</a>
                <span class="badge bg-primary">New!</span>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <a routerLink="/friends">Add Friends</a>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <a routerLink="/friends">Log Out</a>
            </div>
        </div>
    </div>
</section>